body {
  font-family: arial, sans-serif;
  color: rgb(48, 47, 47);
}

h1 {
  color: rgb(48, 47, 47);
  display: block;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: rgb(48, 47, 47);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}

.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #ffffff 0%, #5899e2 74%);
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 70px;
  width: 73px;
}

.weather-temperature strong {
  color: 33 33 33;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.btn {
  background-image: linear-gradient(315deg, #ffffff 0%, #5899e2 74%);
  color: rgb(48, 47, 47);
  display: block;
  border-radius: 30px;
  padding: 5px;
  border: 5px;
  width: fit-content;
  margin: 0 auto;
  margin-top: 5px;
}

.weather-temperature .active {
  color: black;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

h3 {
  font-size: 15px;
  font-style: italic;
}

.weather-forecast {
  margin-top: 10px;
  border: gray 1px solid;

  background-image: linear-gradient(315deg, #ffffff 0%, #97c2f3 74%);
}

.weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 40px;
  width: 40px;
}

html {
  display: grid;
  min-height: 100%;
}
.success-box {
  position: absolute;
  width: 35%;
  height: 100%;
  left: 12%;
  background: linear-gradient(to bottom right, $success 40%, $secondary 100%);
  border-radius: 20px;
  box-shadow: 5px 5px 20px rgba($gray, 10%);
  perspective: 40px;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  top: 4%;
  right: 6%;
}

.dot :hover {
  background: darken(white 20%);
}

.two {
  right: 12%;
  opacity: 0.5;
}

.face {
  position: absolute;
  width: 60%;
  height: 80%;
  background: rgb(87, 97, 243);
  border-radius: 50%;
  border: 1px solid black;
  top: 15%;
  left: 20.5%;
  z-index: 2;
  animation: bounce 1s ease-in infinite;
}

.eye {
  position: absolute;
  width: 5px;
  height: 5px;
  background: black;
  border-radius: 50%;
  top: 40%;
  left: 20%;
}

.right {
  left: 68%;
}

.mouth {
  position: absolute;
  top: 43%;
  left: 41%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.happy {
  border: 2px solid;
  border-color: transparent black black transparent;
  transform: rotate(45deg);
}

@keyframes bounce {
  50% {
    transform: translateY(-10px);
  }
}

@keyframes scale {
  50% {
    transform: scale(0.9);
  }
}

@keyframes roll {
  0% {
    transform: rotate(0deg);
    left: 25%;
  }
  50% {
    left: 60%;
    transform: rotate(168deg);
  }
  100% {
    transform: rotate(0deg);
    left: 25%;
  }
}

@keyframes move {
  0% {
    left: 25%;
  }
  50% {
    left: 60%;
  }
  100% {
    left: 25%;
  }
}
